* {
  margin: 0;
  padding: 0;
  overflow-x: hidden
}

header {
  z-index: 2;
  background-color: blueviolet;
  top: 0;
  left: 0;
  margin: 0;
  padding: 5px;
  padding-top: 25px;
  width: 100%;
}

.content {
  margin-top: 120px;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center; 
  overflow: auto; 
}

.cont{
  text-align:center;
  padding-bottom: 10px;
}

h1 {
  color: blueviolet;
  -webkit-text-stroke: 2px black;
  font-size: 3em;  
  padding-bottom: 25px
}

.h {
  color: blueviolet;
  -webkit-text-stroke: 3px black;
  font-size: 3em; 
  padding-left: 10%;
}

a {
  text-decoration: none;
  color: blueviolet;
}
.a:hover {font-size: 1.1em}

.search, .close {
  background-color: blueviolet;
  border: none;
  color: white;
  font-size: 2em;
  margin-top: 25px
}
.close {
  font-size: 1.3em;
  margin-left: 3px;
  padding: 3px;
}

input {
  font-size: 1.3em;
  color: blueviolet;
  margin-top: 25px
}

span {position:relative; display: none}

.wiki {text-align: center; margin-top: 80px}

.wik {
  padding: 5px;
  margin: 30px;
  margin-top: 50px;
  border: 2px solid blueviolet;
}

p {font-family: 'Indie Flower'}

hr {margin-bottom: 40px}

footer {
  padding: 30px;
  margin-top: 40px
}

button {padding: 8px}